<style>
  .quick-view-bar {
    width: 0;
    transform: translateY(5px);
    opacity: 0;
  }

  .featured-image-div:hover > .quick-view-bar {
    width: 100%;
    transform: translateY(0px);
    opacity: 1;
    transition: transform ease 0.5s, opacity ease 0.5s;
  }

  .grid-layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
  }
</style>
<div>
  <!-- product-Card-->
  <div id="card_id"
    class="text-center product-card"
    x-data="{ quickBar : false }">


    <!-- Featured Image -->
    <div class="relative featured-image-div mb-5" x-data="{ closeWindow : false }">

      <!-- Quick View bar -->
      <div class="py-2 bg-black text-white absolute bottom-0 left-0 right-0 quick-view-bar" x-on:click="quickBar = true">
        <p>Quick View</p>
      </div>



      <a href="{{ product.url }}">
        {% if product.featured_image %}
          <img
            src="{{ product.featured_image | img_url: 'medium' }}"
            alt="{{ product.featured_imgae.alt }}"
            class="w-full object-cover">

        {% else %}
          {{ 'product-1' | placeholder_svg_tag: 'w-20 h-20 object-cover' }}
        {% endif %}
      </div>
      <!-- Product Title -->
      <div>
        <h1>{{ product.title }}</h1>
      </div>

      <!-- Product Price -->
      <div class="flex justify-center space-x-5">
        {% if product.compare_at_price %}
          <span class="line-through">{{ product.compare_at_price | money }}</span>
        {% endif %}
        <span>{{ product.price | money }}</span>


      </div>
    </a>

    <!-- Quick Window -->
    <div class="relative">
      <div
        class="fixed z-50 top-1/2 left-1/2 w-[90%] overflow-y-auto h-[90vh] p-5 bg-white transforn -translate-x-[50%] -translate-y-[50%]"
        x-show="quickBar"
        @click.away="quickBar = false">

        <div>
          <button x-on:click="quickBar = false" class="absolute right-[20px]">
            {% render 'icon-close' %}
          </button>
        </div>

        <div>
          <div class="grid-layout">
            <!-- Product Media -->
            <div class="product--media">
              {% for media in product.media %}
                {% render 'product-media', media: media %}
              {% endfor %}
            </div>

            <!-- Product Information -->
            <div class="product--information text-left">
              <form
                action="{{ routes.cart_add_url }}"
                novalidate
                method="POST"
                id="product_form_{{ product.id }}">
                <div class="my-3">
                  <a href="{{ shop.url }}">Home /
                  </a>
                  {% for collection in product.collections %}
                    <a href="{{ collection.url }}">{{ collection.title }}</a>
                  {% endfor %}
                </div>

                <input type="hidden"
                  name="id"
                  value="{{ product.selected_or_first_available_variant.id }}">

                <!-- Name -->
                <div class="my-3">
                  <h1 class="text-4xl">{{ product.title }}</h1>
                </div>

                <!-- Price -->
                <div class="my-3 flex items-center space-x-3" id="price">
                  {% assign product_price = product.selected_or_first_available_variant %}

                  <p
                    class="text-xl line-through"
                    id="compare_at_price"
                    data-compare-price>{{ product_price.compare_at_price | money }}</p>

                  <p class="text-xl" id="original_price">{{ product_price.price | money }}</p>

                  {% if product_price.compared_at_price %}
                    <span>Save
                    </span>

                  {% endif %}
                </div>

                <script>
                  let compare_at_price_var = document.getElementById("compare_at_price");
                  let original_price_var = document.getElementById("original_price");
                  let original_price_innerText = original_price_var.innerText;
                  let price = document.getElementById("price");


                  {% assign product_price = product.selected_or_first_available_variant %}

                  if ({{product_price.compare_at_price}}) {
                    function Orginal_innerText(getPrice) {
                      let original_price = getPrice.innerText;
                      let replacedVal1 = original_price.replace("Rs.", "");
                      let replacedVal2 = replacedVal1.replace(".00", "")
                      let finalReplacedVal = replacedVal2.replace(",", "")

                      return finalReplacedVal;
                    }



                    let extractedComparePrice = parseInt(Orginal_innerText(compare_at_price_var));
                    let extractedOriginalPrice = parseInt(Orginal_innerText(original_price_var));

                    function getPercentage() {
                      let percentage = (extractedComparePrice - extractedOriginalPrice) / (extractedComparePrice) * 100;
                      return percentage;
                    }

                    let savePercentage = getPercentage();

                    const div = document.createElement("div");
                    const p = document.createElement("p");
                    price.appendChild(div);
                    div.appendChild(p);
                    p.setAttribute("class", "text-base text-red-400");
                    let d = "Save " + parseInt(savePercentage) + "%";

                    p.innerText = d;
                  }
                </script>

                <hr>

                <!-- Options -->
                <div class="mt-10 mb-5">
                  {% unless product.has_only_default_variant %}
                    <div data-url="{{ product.url }}" data-section="{{ section.id }}">
                      {% for option in product.options_with_values %}
                        <label class="my-4 block" for="option-{{ section.id }}-{{ forloop.index0 }}">{{ option.name }}</label>

                        <!-- Variants -->
                        <div class="grid grid-cols-4 gap-3">
                          {% for value in option.values %}
                            {% if option.selected_value == value %}
                              <label class="border border-black py-2 px-4 uppercase text-center text-sm relative" for="variant_{{ product.id }}_{{ forloop.index0 }}">{{ value }}</label>


                            {% else %}
                              <label class="border py-2 px-4 uppercase text-center text-sm">{{ value }}</label>



                            {% endif %}
                          {% endfor %}
                        </div>
                      {% endfor %}



                    </div>
                  {% endunless %}
                </div>

                <!-- Quantity -->
                <div>
                  <label class="my-3 block" for="Quantity-{{ section.id }}">Qunatity</label>


                  <div class="inline-flex items-center border px-3 py-4">
                    <span data-decrease-quantity>-</span>

                    <input
                      type="text"
                      name="quantity"
                      min="1"
                      id="Qunatity_{{ product.id }}"
                      value="1"
                      class="pointer-events-none w-[80px] text-center"
                      data-qunatity-value>

                    <span data-increase-quantity>+</span>
                  </div>
                </div>


                <!-- Buttons -->
                <div class="flex flex-col my-7 space-y-3">

                  {% if product.selected_or_first_available_variant.available %}
                    <!-- Add to cart -->
                    <div>
                      <button name="add" class="py-3 text-center text-black bg-white border border-black font-medium text-lg uppercase w-full">
                        <span class="text-sm font-medium">Add to cart</span>
                      </button>
                    </div>

                    <!-- Checkout Button -->
                    <div>
                      <button name="checkout" class="py-3 text-center text-white bg-black border border-black font-medium text-lg uppercase w-full">
                        <span class="text-sm font-medium">Buy it now</span>
                      </button>
                    </div>

                  {% else %}
                    <!-- Sold Out Button -->
                    <div>
                      <button
                        name="add"
                        class="py-3 text-center text-gray-500 bg-gray-100 border border-black font-medium text-lg uppercase w-full"
                        disabled>
                        <span>Sold Out</span>
                      </button>
                    </div>
                  {% endif %}

                </div>

                <!-- Description -->
                <div>
                  <p>{{ product.description }}</p>
                </div>
              </form>

              <!-- Size Chart And Review -->
              <div class="my-10" x-data="{ showChart : false }">
                <!-- Size Chart -->
                <div class="relative text-center cursor-pointer border py-3 px-2" x-on:click="showChart = !showChart">
                  <!-- Heading and dropDown icon -->
                  <div>
                    <!-- Heading -->
                    <div>
                      <h3>Size Chart</h3>
                    </div>

                    <!-- Icon -->
                    <div class="absolute right-[10px] top-[15px]">
                      {% render 'icon-dropdown' %}
                    </div>
                  </div>

                  <!-- Size Chart Section -->
                  <div x-show="showChart"></div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>


    <div x-show="quickBar" class="w-full h-screen fixed z-20 bg-black opacity-30 inset-0"></div>
  </div>
</div>